openapi: 3.0.3
info:
  version: 1.1.4
  title: GitHub v3 REST API
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: 'https://spdx.org/licensees/MIT'
  termsOfService: 'https://docs.github.com/articles/github-terms-of-service'
  contact:
    name: Support
    url: 'https://support.github.com/contact?tags=dotcom-rest-api'
  x-github-plan: api.github.com
servers:
  - url: 'https://api.github.com'
paths:
  '/repos/{owner}/{repo}/issues':
    post:
      operationId: issues/create
      summary: Create an issue
      description: |-
        Any user with pull access to a repository can create an issue. If [issues are disabled in the repository](https://docs.github.com/articles/disabling-issues/), the API returns a `410 Gone` status.

        This endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see "[Rate limits for the API](https://docs.github.com/rest/overview/rate-limits-for-the-rest-api#about-secondary-rate-limits)"
        and "[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api)."
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/auth'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: The title of the issue.
                  type: string
                body:
                  description: The contents of the issue.
                  type: string
                assignee:
                  description: 'Login for the user that this issue should be assigned to. _NOTE: Only users with push access can set the assignee for new issues. The assignee is silently dropped otherwise. **This field is deprecated.**_'
                  type: string
                  nullable: true
                milestone:
                  nullable: true
                  type: string
                labels:
                  description: 'Labels to associate with this issue. _NOTE: Only users with push access can set labels for new issues. Labels are silently dropped otherwise._'
                  type: array
                  items:
                    type: string
                assignees:
                  description: 'Logins for Users to assign to this issue. _NOTE: Only users with push access can set assignees for new issues. Assignees are silently dropped otherwise._'
                  type: array
                  items:
                    type: string
              required:
                - title
            examples:
              default:
                value:
                  title: Found a bug
                  body: I'm having a problem with this.
                  assignees:
                    - octocat
                  milestone: 1
                  labels:
                    - bug
      responses:
        '201':
          description: Response
          headers:
            Location:
              example: 'https://api.github.com/repos/octocat/Hello-World/issues/1347'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '410':
          $ref: '#/components/responses/gone'
        '422':
          $ref: '#/components/responses/validation_failed'
        '503':
          $ref: '#/components/responses/service_unavailable'
      externalDocs:
        description: API method documentation
        url: 'https://docs.github.com/rest/issues/issues#create-an-issue'
      tags:
        - issues
      x-github:
        triggersNotification: true
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: issues
  '/repos/{owner}/{repo}/issues/{issue_number}':
    get:
      summary: Get an issue
      description: |-
        The API returns a [`301 Moved Permanently` status](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api#follow-redirects) if the issue was
        [transferred](https://docs.github.com/articles/transferring-an-issue-to-another-repository/) to another repository. If
        the issue was transferred to or deleted from a repository where the authenticated user lacks read access, the API
        returns a `404 Not Found` status. If the issue was deleted from a repository where the authenticated user has read
        access, the API returns a `410 Gone` status. To receive webhook events for transferred and deleted issues, subscribe
        to the [`issues`](https://docs.github.com/webhooks/event-payloads/#issues) webhook.
      tags:
        - issues
      operationId: issues/get
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/issues#get-an-issue
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: "#/components/parameters/issue-number"
        - $ref: '#/components/parameters/auth'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/issue"
        '301':
          $ref: "#/components/responses/moved_permanently"
        '304':
          $ref: "#/components/responses/not_modified"
        '404':
          $ref: "#/components/responses/not_found"
        '410':
          $ref: "#/components/responses/gone"
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: issues
components:
  parameters:
    auth:
      name: Authorization
      in: header
      description: Bearer token for authorized requests
      schema:
        type: string
      required: true
    owner:
      name: owner
      description: The account owner of the repository. The name is not case sensitive.
      in: path
      required: true
      schema:
        type: string
    repo:
      name: repo
      description: The name of the repository without the `.git` extension. The name is not case sensitive.
      in: path
      required: true
      schema:
        type: string
    issue-number:
      name: issue_number
      description: The number that identifies the issue.
      in: path
      required: true
      schema:
        type: integer
  schemas:
    simple-user:
      description: A GitHub user.
      type: object
      properties:
        name:
          type: string
          nullable: true
        login:
          type: string
          example: octocat
        id:
          type: integer
          example: 1
        node_id:
          type: string
          example: MDQ6VXNlcjE=
        avatar_url:
          type: string
          format: uri
          example: 'https://github.com/images/error/octocat_happy.gif'
        gravatar_id:
          type: string
          example: 41d064eb2195891e12d0413f63227ea7
          nullable: true
        url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat'
        html_url:
          type: string
          format: uri
          example: 'https://github.com/octocat'
        followers_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/followers'
        following_url:
          type: string
          example: 'https://api.github.com/users/octocat/following{/other_user}'
        gists_url:
          type: string
          example: 'https://api.github.com/users/octocat/gists{/gist_id}'
        starred_url:
          type: string
          example: 'https://api.github.com/users/octocat/starred{/owner}{/repo}'
        subscriptions_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/subscriptions'
        organizations_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/orgs'
        repos_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/repos'
        events_url:
          type: string
          example: 'https://api.github.com/users/octocat/events{/privacy}'
        received_events_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/received_events'
        type:
          type: string
          example: User
        site_admin:
          type: boolean
        starred_at:
          type: string
          example: '"2020-07-09T00:17:55Z"'
      required:
        - avatar_url
        - events_url
        - followers_url
        - following_url
        - gists_url
        - gravatar_id
        - html_url
        - id
        - node_id
        - login
        - organizations_url
        - received_events_url
        - repos_url
        - site_admin
        - starred_url
        - subscriptions_url
        - type
        - url
      title: Simple User
    basic-error:
      description: Basic Error
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        url:
          type: string
      title: Basic Error
    nullable-simple-user:
      description: A GitHub user.
      type: object
      properties:
        name:
          type: string
          nullable: true
        login:
          type: string
          example: octocat
        id:
          type: integer
          example: 1
        node_id:
          type: string
          example: MDQ6VXNlcjE=
        avatar_url:
          type: string
          format: uri
          example: 'https://github.com/images/error/octocat_happy.gif'
        gravatar_id:
          type: string
          example: 41d064eb2195891e12d0413f63227ea7
          nullable: true
        url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat'
        html_url:
          type: string
          format: uri
          example: 'https://github.com/octocat'
        followers_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/followers'
        following_url:
          type: string
          example: 'https://api.github.com/users/octocat/following{/other_user}'
        gists_url:
          type: string
          example: 'https://api.github.com/users/octocat/gists{/gist_id}'
        starred_url:
          type: string
          example: 'https://api.github.com/users/octocat/starred{/owner}{/repo}'
        subscriptions_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/subscriptions'
        organizations_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/orgs'
        repos_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/repos'
        events_url:
          type: string
          example: 'https://api.github.com/users/octocat/events{/privacy}'
        received_events_url:
          type: string
          format: uri
          example: 'https://api.github.com/users/octocat/received_events'
        type:
          type: string
          example: User
        site_admin:
          type: boolean
        starred_at:
          type: string
          example: '"2020-07-09T00:17:55Z"'
      nullable: true
      required:
        - avatar_url
        - events_url
        - followers_url
        - following_url
        - gists_url
        - gravatar_id
        - html_url
        - id
        - node_id
        - login
        - organizations_url
        - received_events_url
        - repos_url
        - site_admin
        - starred_url
        - subscriptions_url
        - type
        - url
      title: Simple User
    scim-error:
      description: Scim Error
      type: object
      properties:
        message:
          type: string
          nullable: true
        documentation_url:
          type: string
          nullable: true
        detail:
          type: string
          nullable: true
        scimType:
          type: string
          nullable: true
        schemas:
          type: array
          items:
            type: string
      title: Scim Error
    validation-error:
      description: Validation Error
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        errors:
          type: array
          items:
            type: object
            required:
              - code
            properties:
              resource:
                type: string
              field:
                type: string
              message:
                type: string
              code:
                type: string
              index:
                type: integer
              value:
                oneOf:
                  - type: string
                    nullable: true
                  - type: integer
                    nullable: true
                  - type: array
                    nullable: true
                    items:
                      type: string
      required:
        - message
        - documentation_url
      title: Validation Error
    repository:
      description: A repository on GitHub.
      type: object
      properties:
        id:
          description: Unique identifier of the repository
          type: integer
          example: 42
        node_id:
          type: string
          example: MDEwOlJlcG9zaXRvcnkxMjk2MjY5
        name:
          description: The name of the repository.
          type: string
          example: Team Environment
        full_name:
          type: string
          example: octocat/Hello-World
        forks:
          type: integer
        permissions:
          type: object
          properties:
            admin:
              type: boolean
            pull:
              type: boolean
            triage:
              type: boolean
            push:
              type: boolean
            maintain:
              type: boolean
          required:
            - admin
            - pull
            - push
        owner:
          $ref: '#/components/schemas/simple-user'
        private:
          description: Whether the repository is private or public.
          type: boolean
          default: false
        html_url:
          type: string
          format: uri
          example: 'https://github.com/octocat/Hello-World'
        description:
          type: string
          example: This your first repo!
          nullable: true
        fork:
          type: boolean
        url:
          type: string
          format: uri
          example: 'https://api.github.com/repos/octocat/Hello-World'
        archive_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}'
        assignees_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/assignees{/user}'
        blobs_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}'
        branches_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/branches{/branch}'
        collaborators_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}'
        comments_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/comments{/number}'
        commits_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/commits{/sha}'
        compare_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}'
        contents_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/contents/{+path}'
        contributors_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/contributors'
        deployments_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/deployments'
        downloads_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/downloads'
        events_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/events'
        forks_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/forks'
        git_commits_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/git/commits{/sha}'
        git_refs_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/git/refs{/sha}'
        git_tags_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/git/tags{/sha}'
        git_url:
          type: string
          example: 'git:github.com/octocat/Hello-World.git'
        issue_comment_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/issues/comments{/number}'
        issue_events_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/issues/events{/number}'
        issues_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/issues{/number}'
        keys_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/keys{/key_id}'
        labels_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/labels{/name}'
        languages_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/languages'
        merges_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/merges'
        milestones_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/milestones{/number}'
        notifications_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}'
        pulls_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/pulls{/number}'
        releases_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/releases{/id}'
        ssh_url:
          type: string
          example: 'git@github.com:octocat/Hello-World.git'
        stargazers_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/stargazers'
        statuses_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/statuses/{sha}'
        subscribers_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/subscribers'
        subscription_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/subscription'
        tags_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/tags'
        teams_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/teams'
        trees_url:
          type: string
          example: 'http://api.github.com/repos/octocat/Hello-World/git/trees{/sha}'
        clone_url:
          type: string
          example: 'https://github.com/octocat/Hello-World.git'
        mirror_url:
          type: string
          format: uri
          example: 'git:git.example.com/octocat/Hello-World'
          nullable: true
        hooks_url:
          type: string
          format: uri
          example: 'http://api.github.com/repos/octocat/Hello-World/hooks'
        svn_url:
          type: string
          format: uri
          example: 'https://svn.github.com/octocat/Hello-World'
        homepage:
          type: string
          format: uri
          example: 'https://github.com'
          nullable: true
        forks_count:
          type: integer
          example: 9
        stargazers_count:
          type: integer
          example: 80
        watchers_count:
          type: integer
          example: 80
        size:
          description: 'The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially created, the size is 0.'
          type: integer
          example: 108
        default_branch:
          description: The default branch of the repository.
          type: string
          example: master
        open_issues_count:
          type: integer
          example: 0
        is_template:
          description: Whether this repository acts as a template that can be used to generate new repositories.
          type: boolean
          example: true
          default: false
        topics:
          type: array
          items:
            type: string
        has_issues:
          description: Whether issues are enabled.
          type: boolean
          example: true
          default: true
        has_projects:
          description: Whether projects are enabled.
          type: boolean
          example: true
          default: true
        has_wiki:
          description: Whether the wiki is enabled.
          type: boolean
          example: true
          default: true
        has_pages:
          type: boolean
        has_downloads:
          description: Whether downloads are enabled.
          type: boolean
          example: true
          default: true
          deprecated: true
        has_discussions:
          description: Whether discussions are enabled.
          type: boolean
          example: true
          default: false
        archived:
          description: Whether the repository is archived.
          type: boolean
          default: false
        disabled:
          description: Returns whether or not this repository disabled.
          type: boolean
        visibility:
          description: 'The repository visibility: public, private, or internal.'
          type: string
          default: public
        pushed_at:
          type: string
          format: date-time
          example: '2011-01-26T19:06:43Z'
          nullable: true
        created_at:
          type: string
          format: date-time
          example: '2011-01-26T19:01:12Z'
          nullable: true
        updated_at:
          type: string
          format: date-time
          example: '2011-01-26T19:14:43Z'
          nullable: true
        allow_rebase_merge:
          description: Whether to allow rebase merges for pull requests.
          type: boolean
          example: true
          default: true
        template_repository:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            node_id:
              type: string
            name:
              type: string
            full_name:
              type: string
            owner:
              type: object
              properties:
                login:
                  type: string
                id:
                  type: integer
                node_id:
                  type: string
                avatar_url:
                  type: string
                gravatar_id:
                  type: string
                url:
                  type: string
                html_url:
                  type: string
                followers_url:
                  type: string
                following_url:
                  type: string
                gists_url:
                  type: string
                starred_url:
                  type: string
                subscriptions_url:
                  type: string
                organizations_url:
                  type: string
                repos_url:
                  type: string
                events_url:
                  type: string
                received_events_url:
                  type: string
                type:
                  type: string
                site_admin:
                  type: boolean
            private:
              type: boolean
            html_url:
              type: string
            description:
              type: string
            fork:
              type: boolean
            url:
              type: string
            archive_url:
              type: string
            assignees_url:
              type: string
            blobs_url:
              type: string
            branches_url:
              type: string
            collaborators_url:
              type: string
            comments_url:
              type: string
            commits_url:
              type: string
            compare_url:
              type: string
            contents_url:
              type: string
            contributors_url:
              type: string
            deployments_url:
              type: string
            downloads_url:
              type: string
            events_url:
              type: string
            forks_url:
              type: string
            git_commits_url:
              type: string
            git_refs_url:
              type: string
            git_tags_url:
              type: string
            git_url:
              type: string
            issue_comment_url:
              type: string
            issue_events_url:
              type: string
            issues_url:
              type: string
            keys_url:
              type: string
            labels_url:
              type: string
            languages_url:
              type: string
            merges_url:
              type: string
            milestones_url:
              type: string
            notifications_url:
              type: string
            pulls_url:
              type: string
            releases_url:
              type: string
            ssh_url:
              type: string
            stargazers_url:
              type: string
            statuses_url:
              type: string
            subscribers_url:
              type: string
            subscription_url:
              type: string
            tags_url:
              type: string
            teams_url:
              type: string
            trees_url:
              type: string
            clone_url:
              type: string
            mirror_url:
              type: string
            hooks_url:
              type: string
            svn_url:
              type: string
            homepage:
              type: string
            forks_count:
              type: integer
            stargazers_count:
              type: integer
            watchers_count:
              type: integer
            size:
              type: integer
            default_branch:
              type: string
            open_issues_count:
              type: integer
            is_template:
              type: boolean
            topics:
              type: array
              items:
                type: string
            has_issues:
              type: boolean
            has_projects:
              type: boolean
            has_wiki:
              type: boolean
            has_pages:
              type: boolean
            has_downloads:
              type: boolean
            archived:
              type: boolean
            disabled:
              type: boolean
            visibility:
              type: string
            pushed_at:
              type: string
            created_at:
              type: string
            updated_at:
              type: string
            permissions:
              type: object
              properties:
                admin:
                  type: boolean
                maintain:
                  type: boolean
                push:
                  type: boolean
                triage:
                  type: boolean
                pull:
                  type: boolean
            allow_rebase_merge:
              type: boolean
            temp_clone_token:
              type: string
            allow_squash_merge:
              type: boolean
            allow_auto_merge:
              type: boolean
            delete_branch_on_merge:
              type: boolean
            allow_update_branch:
              type: boolean
            use_squash_pr_title_as_default:
              type: boolean
            squash_merge_commit_title:
              description: |-
                The default value for a squash merge commit title:

                - `PR_TITLE` - default to the pull request's title.
                - `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit).
              type: string
              enum:
                - PR_TITLE
                - COMMIT_OR_PR_TITLE
            squash_merge_commit_message:
              description: |-
                The default value for a squash merge commit message:

                - `PR_BODY` - default to the pull request's body.
                - `COMMIT_MESSAGES` - default to the branch's commit messages.
                - `BLANK` - default to a blank commit message.
              type: string
              enum:
                - PR_BODY
                - COMMIT_MESSAGES
                - BLANK
            merge_commit_title:
              description: |-
                The default value for a merge commit title.

                - `PR_TITLE` - default to the pull request's title.
                - `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name).
              type: string
              enum:
                - PR_TITLE
                - MERGE_MESSAGE
            merge_commit_message:
              description: |-
                The default value for a merge commit message.

                - `PR_TITLE` - default to the pull request's title.
                - `PR_BODY` - default to the pull request's body.
                - `BLANK` - default to a blank commit message.
              type: string
              enum:
                - PR_BODY
                - PR_TITLE
                - BLANK
            allow_merge_commit:
              type: boolean
            subscribers_count:
              type: integer
            network_count:
              type: integer
        temp_clone_token:
          type: string
        allow_squash_merge:
          description: Whether to allow squash merges for pull requests.
          type: boolean
          example: true
          default: true
        allow_auto_merge:
          description: Whether to allow Auto-merge to be used on pull requests.
          type: boolean
          example: false
          default: false
        delete_branch_on_merge:
          description: Whether to delete head branches when pull requests are merged
          type: boolean
          example: false
          default: false
        allow_update_branch:
          description: Whether or not a pull request head branch that is behind its base branch can always be updated even if it is not required to be up to date before merging.
          type: boolean
          example: false
          default: false
        use_squash_pr_title_as_default:
          description: Whether a squash merge commit can use the pull request title as default. **This property has been deprecated. Please use `squash_merge_commit_title` instead.
          type: boolean
          default: false
          deprecated: true
        squash_merge_commit_title:
          description: |-
            The default value for a squash merge commit title:

            - `PR_TITLE` - default to the pull request's title.
            - `COMMIT_OR_PR_TITLE` - default to the commit's title (if only one commit) or the pull request's title (when more than one commit).
          type: string
          enum:
            - PR_TITLE
            - COMMIT_OR_PR_TITLE
        squash_merge_commit_message:
          description: |-
            The default value for a squash merge commit message:

            - `PR_BODY` - default to the pull request's body.
            - `COMMIT_MESSAGES` - default to the branch's commit messages.
            - `BLANK` - default to a blank commit message.
          type: string
          enum:
            - PR_BODY
            - COMMIT_MESSAGES
            - BLANK
        merge_commit_title:
          description: |-
            The default value for a merge commit title.

            - `PR_TITLE` - default to the pull request's title.
            - `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name).
          type: string
          enum:
            - PR_TITLE
            - MERGE_MESSAGE
        merge_commit_message:
          description: |-
            The default value for a merge commit message.

            - `PR_TITLE` - default to the pull request's title.
            - `PR_BODY` - default to the pull request's body.
            - `BLANK` - default to a blank commit message.
          type: string
          enum:
            - PR_BODY
            - PR_TITLE
            - BLANK
        allow_merge_commit:
          description: Whether to allow merge commits for pull requests.
          type: boolean
          example: true
          default: true
        allow_forking:
          description: Whether to allow forking this repo
          type: boolean
        web_commit_signoff_required:
          description: Whether to require contributors to sign off on web-based commits
          type: boolean
          default: false
        subscribers_count:
          type: integer
        network_count:
          type: integer
        open_issues:
          type: integer
        watchers:
          type: integer
        master_branch:
          type: string
        starred_at:
          type: string
          example: '"2020-07-09T00:17:42Z"'
        anonymous_access_enabled:
          description: Whether anonymous git access is enabled for this repository
          type: boolean
      required:
        - archive_url
        - assignees_url
        - blobs_url
        - branches_url
        - collaborators_url
        - comments_url
        - commits_url
        - compare_url
        - contents_url
        - contributors_url
        - deployments_url
        - description
        - downloads_url
        - events_url
        - fork
        - forks_url
        - full_name
        - git_commits_url
        - git_refs_url
        - git_tags_url
        - hooks_url
        - html_url
        - id
        - node_id
        - issue_comment_url
        - issue_events_url
        - issues_url
        - keys_url
        - labels_url
        - languages_url
        - merges_url
        - milestones_url
        - name
        - notifications_url
        - owner
        - private
        - pulls_url
        - releases_url
        - stargazers_url
        - statuses_url
        - subscribers_url
        - subscription_url
        - tags_url
        - teams_url
        - trees_url
        - url
        - clone_url
        - default_branch
        - forks
        - forks_count
        - git_url
        - has_downloads
        - has_issues
        - has_projects
        - has_wiki
        - has_pages
        - homepage
        - language
        - archived
        - disabled
        - mirror_url
        - open_issues
        - open_issues_count
        - license
        - pushed_at
        - size
        - ssh_url
        - stargazers_count
        - svn_url
        - watchers
        - watchers_count
        - created_at
        - updated_at
      title: Repository
    nullable-integration:
      description: GitHub apps are a new way to extend GitHub. They can be installed directly on organizations and user accounts and granted access to specific repositories. They come with granular permissions and built-in webhooks. GitHub apps are first class actors within GitHub.
      type: object
      properties:
        id:
          description: Unique identifier of the GitHub app
          type: integer
          example: 37
        slug:
          description: The slug name of the GitHub app
          type: string
          example: probot-owners
        node_id:
          type: string
          example: MDExOkludGVncmF0aW9uMQ==
        owner:
          $ref: '#/components/schemas/nullable-simple-user'
        name:
          description: The name of the GitHub app
          type: string
          example: Probot Owners
        description:
          type: string
          example: The description of the app.
          nullable: true
        external_url:
          type: string
          format: uri
          example: 'https://example.com'
        html_url:
          type: string
          format: uri
          example: 'https://github.com/apps/super-ci'
        created_at:
          type: string
          format: date-time
          example: '2017-07-08T16:18:44-04:00'
        updated_at:
          type: string
          format: date-time
          example: '2017-07-08T16:18:44-04:00'
        permissions:
          description: The set of permissions for the GitHub app
          type: object
          example:
            issues: read
            deployments: write
          additionalProperties:
            type: string
          properties:
            issues:
              type: string
            checks:
              type: string
            contents:
              type: string
            deployments:
              type: string
        events:
          description: The list of events for the GitHub app
          type: array
          items:
            type: string
          example:
            - label
            - deployment
        installations_count:
          description: The number of installations associated with the GitHub app
          type: integer
          example: 5
        client_id:
          type: string
          example: '"Iv1.25b5d1e65ffc4022"'
        client_secret:
          type: string
          example: '"1d4b2097ac622ba702d19de498f005747a8b21d3"'
        webhook_secret:
          type: string
          example: '"6fba8f2fc8a7e8f2cca5577eddd82ca7586b3b6b"'
          nullable: true
        pem:
          type: string
          example: '"-----BEGIN RSA PRIVATE KEY-----\nMIIEogIBAAKCAQEArYxrNYD/iT5CZVpRJu4rBKmmze3PVmT/gCo2ATUvDvZTPTey\nxcGJ3vvrJXazKk06pN05TN29o98jrYz4cengG3YGsXPNEpKsIrEl8NhbnxapEnM9\nJCMRe0P5JcPsfZlX6hmiT7136GRWiGOUba2X9+HKh8QJVLG5rM007TBER9/z9mWm\nrJuNh+m5l320oBQY/Qq3A7wzdEfZw8qm/mIN0FCeoXH1L6B8xXWaAYBwhTEh6SSn\nZHlO1Xu1JWDmAvBCi0RO5aRSKM8q9QEkvvHP4yweAtK3N8+aAbZ7ovaDhyGz8r6r\nzhU1b8Uo0Z2ysf503WqzQgIajr7Fry7/kUwpgQIDAQABAoIBADwJp80Ko1xHPZDy\nfcCKBDfIuPvkmSW6KumbsLMaQv1aGdHDwwTGv3t0ixSay8CGlxMRtRDyZPib6SvQ\n6OH/lpfpbMdW2ErkksgtoIKBVrDilfrcAvrNZu7NxRNbhCSvN8q0s4ICecjbbVQh\nnueSdlA6vGXbW58BHMq68uRbHkP+k+mM9U0mDJ1HMch67wlg5GbayVRt63H7R2+r\nVxcna7B80J/lCEjIYZznawgiTvp3MSanTglqAYi+m1EcSsP14bJIB9vgaxS79kTu\noiSo93leJbBvuGo8QEiUqTwMw4tDksmkLsoqNKQ1q9P7LZ9DGcujtPy4EZsamSJT\ny8OJt0ECgYEA2lxOxJsQk2kI325JgKFjo92mQeUObIvPfSNWUIZQDTjniOI6Gv63\nGLWVFrZcvQBWjMEQraJA9xjPbblV8PtfO87MiJGLWCHFxmPz2dzoedN+2Coxom8m\nV95CLz8QUShuao6u/RYcvUaZEoYs5bHcTmy5sBK80JyEmafJPtCQVxMCgYEAy3ar\nZr3yv4xRPEPMat4rseswmuMooSaK3SKub19WFI5IAtB/e7qR1Rj9JhOGcZz+OQrl\nT78O2OFYlgOIkJPvRMrPpK5V9lslc7tz1FSh3BZMRGq5jSyD7ETSOQ0c8T2O/s7v\nbeEPbVbDe4mwvM24XByH0GnWveVxaDl51ABD65sCgYB3ZAspUkOA5egVCh8kNpnd\nSd6SnuQBE3ySRlT2WEnCwP9Ph6oPgn+oAfiPX4xbRqkL8q/k0BdHQ4h+zNwhk7+h\nWtPYRAP1Xxnc/F+jGjb+DVaIaKGU18MWPg7f+FI6nampl3Q0KvfxwX0GdNhtio8T\nTj1E+SnFwh56SRQuxSh2gwKBgHKjlIO5NtNSflsUYFM+hyQiPiqnHzddfhSG+/3o\nm5nNaSmczJesUYreH5San7/YEy2UxAugvP7aSY2MxB+iGsiJ9WD2kZzTUlDZJ7RV\nUzWsoqBR+eZfVJ2FUWWvy8TpSG6trh4dFxImNtKejCR1TREpSiTV3Zb1dmahK9GV\nrK9NAoGAbBxRLoC01xfxCTgt5BDiBcFVh4fp5yYKwavJPLzHSpuDOrrI9jDn1oKN\nonq5sDU1i391zfQvdrbX4Ova48BN+B7p63FocP/MK5tyyBoT8zQEk2+vWDOw7H/Z\nu5dTCPxTIsoIwUw1I+7yIxqJzLPFgR2gVBwY1ra/8iAqCj+zeBw=\n-----END RSA PRIVATE KEY-----\n"'
      nullable: true
      required:
        - id
        - node_id
        - owner
        - name
        - description
        - external_url
        - html_url
        - created_at
        - updated_at
        - permissions
        - events
      title: GitHub app
    author-association:
      description: How the author is associated with the repository.
      type: string
      example: OWNER
      enum:
        - COLLABORATOR
        - CONTRIBUTOR
        - FIRST_TIMER
        - FIRST_TIME_CONTRIBUTOR
        - MANNEQUIN
        - MEMBER
        - NONE
        - OWNER
      title: author_association
    reaction-rollup:
      type: object
      properties:
        url:
          type: string
          format: uri
        total_count:
          type: integer
        '+1':
          type: integer
        '-1':
          type: integer
        laugh:
          type: integer
        confused:
          type: integer
        heart:
          type: integer
        hooray:
          type: integer
        eyes:
          type: integer
        rocket:
          type: integer
      required:
        - url
        - total_count
        - '+1'
        - '-1'
        - laugh
        - confused
        - heart
        - hooray
        - eyes
        - rocket
      title: Reaction Rollup
    issue:
      description: 'Issues are a great way to keep track of tasks, enhancements, and bugs for your projects.'
      type: object
      properties:
        id:
          type: integer
          format: int64
        node_id:
          type: string
        url:
          description: URL for the issue
          type: string
          format: uri
          example: 'https://api.github.com/repositories/42/issues/1'
        repository_url:
          type: string
          format: uri
        labels_url:
          type: string
        comments_url:
          type: string
          format: uri
        events_url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        number:
          description: Number uniquely identifying the issue within its repository
          type: integer
          example: 42
        state:
          description: State of the issue; either 'open' or 'closed'
          type: string
          example: open
        state_reason:
          description: The reason for the current state
          type: string
          example: not_planned
          enum:
            - completed
            - reopened
            - not_planned
          nullable: true
        title:
          description: Title of the issue
          type: string
          example: Widget creation fails in Safari on OS X 10.8
        body:
          description: Contents of the issue
          type: string
          example: 'It looks like the new widget form is broken on Safari. When I try and create the widget, Safari crashes. This is reproducible on 10.8, but not 10.9. Maybe a browser bug?'
          nullable: true
        user:
          $ref: '#/components/schemas/nullable-simple-user'
        labels:
          description: Labels to associate with this issue; pass one or more label names to replace the set of labels on this issue; send an empty array to clear all labels from the issue; note that the labels are silently dropped for users without push access to the repository
          type: array
          items:
            oneOf:
              - type: string
              - type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  node_id:
                    type: string
                  url:
                    type: string
                    format: uri
                  name:
                    type: string
                  description:
                    type: string
                    nullable: true
                  color:
                    type: string
                    nullable: true
                  default:
                    type: boolean
          example:
            - bug
            - registration
        assignee:
          $ref: '#/components/schemas/nullable-simple-user'
        assignees:
          type: array
          items:
            $ref: '#/components/schemas/simple-user'
          nullable: true
        locked:
          type: boolean
        active_lock_reason:
          type: string
          nullable: true
        comments:
          type: integer
        pull_request:
          type: object
          properties:
            merged_at:
              type: string
              format: date-time
              nullable: true
            diff_url:
              type: string
              format: uri
              nullable: true
            html_url:
              type: string
              format: uri
              nullable: true
            patch_url:
              type: string
              format: uri
              nullable: true
            url:
              type: string
              format: uri
              nullable: true
          required:
            - diff_url
            - html_url
            - patch_url
            - url
        closed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        draft:
          type: boolean
        closed_by:
          $ref: '#/components/schemas/nullable-simple-user'
        body_html:
          type: string
        body_text:
          type: string
        timeline_url:
          type: string
          format: uri
        repository:
          $ref: '#/components/schemas/repository'
        performed_via_github_app:
          $ref: '#/components/schemas/nullable-integration'
        author_association:
          $ref: '#/components/schemas/author-association'
        reactions:
          $ref: '#/components/schemas/reaction-rollup'
      required:
        - assignee
        - closed_at
        - comments
        - comments_url
        - events_url
        - html_url
        - id
        - node_id
        - labels
        - labels_url
        - milestone
        - number
        - repository_url
        - state
        - locked
        - title
        - url
        - user
        - author_association
        - created_at
        - updated_at
      title: Issue
  responses:
    not_found:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
    bad_request:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
        application/scim+json:
          schema:
            $ref: '#/components/schemas/scim-error'
    validation_failed:
      description: 'Validation failed, or the endpoint has been spammed.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/validation-error'
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
    service_unavailable:
      description: Service unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              documentation_url:
                type: string
    gone:
      description: Gone
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/basic-error'
    moved_permanently:
      description: Moved permanently
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/basic-error"
    not_modified:
      description: Not modified
tags:
  - name: issues
    description: Interact with GitHub Issues.
externalDocs:
  description: GitHub v3 REST API
  url: 'https://docs.github.com/rest/'
